{% extends 'base.html' %}


{% block title %}Logowanie{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
{% if not request.user.is_authenticated %}
<div class="login">
    <h3>Zaloguj się!</h3>

    <form method="POST" action="" class="form-group">
        {% csrf_token %}
        {{ form|crispy }}
        <br>
        Nie masz konta ? Załóż je <a href="/register">tutaj</a> !<br>
        <button type="submit" class="btn btn-success">Login</button>

    </form>
</div>
{% else %}
<p>Jesteś obecnie zalogowany! Czy chciałbyś się <a href="/logout">wylogować</a> ?</p>
{% endif %}
{% endblock %}