.container{
  margin-left: 15%;
  text-align: left;

}

{
  border: 1px dotted black;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
text-align: center;
}

p.question {
  font-family: Arial, sans-serif;
  font-size:20px;
  color: #2E2E2E;
  margin-bottom:0px;
  text-align: left;
}

h2.quizHeader {
  font-family: Arial, sans-serif;
  font-weight:normal;
  font-size:25px;
  line-height: 27px;
  margin: 24px 0 12px 0;
  padding: 0 0 4px 0;
  border-bottom: 1px solid #a2a2a2;
  text-align: center;
}

h2.quizScore{
  font-family: Arial, sans-serif;
  font-size:25px;
  text-align: left;
  margin-left: 140px;
}

div.quizAnswers{
  font-family: Arial, sans-serif;
  font-size:18px;
  color: #424242;
  padding: 4px 0 4px 0;
  text-align: left;
  margin-left: 140px;

}

label {
  font-family: Arial, sans-serif;
  font-size:14px;
  color: #424242;
  vertical-align:top;
  text-align: left;
}

input.answer[type="radio"] {
  margin-bottom: 10px;
  text-align: left;
  margin-left: 125px;
}

input.quizSubmit[type="submit"] {
  -webkit-background-clip: border-box;
  -webkit-background-origin: padding-box;
  -webkit-background-size: auto;
  -webkit-transition-delay: 0s, 0s;
  -webkit-transition-duration: 0.2s, 0.2s;
  -webkit-transition-property: color, background-color;
  -webkit-transition-timing-function: ease, ease;
  box-shadow: rgba(0, 0, 0, 0.498039) 0px 0px 5px 0px;
  color: #ffffff;
  background-color: #c30b0a;
  margin: 0;
  border: 0;
  outline: 0;
  text-transform:uppercase;
  height:35px;
  width:200px;
  border: 1px solid #5E5E5E;
  border-radius: 15px;
  text-align: center;
  position: center;
  margin-left: 140px;

 }

input.quizSubmit[type="submit"]:hover {
  color: #ffffff;
  background: #680f11;
  text-decoration: none;
  text-align: center;

}

input.refresher{

  padding: 5px 25px;
  margin-left: 500px;
  border: 0;
  outline: 0;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  text-transform:uppercase;
  box-shadow: rgba(0, 0, 0, 0.498039) 0px 0px 5px 0px;
  border: 1px solid #5E5E5E;
}

.submitter {
	  width:85px;
}

.hide {
	  display:none;
}