{% extends 'base.html' %}
{% block title %}Strona Domowa{% endblock %}
{% block content %}

<h1>Witaj na stronie głównej aplikacji do nauki metod numerycznych!</h1> <br><br><br>

<h1><b>Dlaczego kolejna Aplikacja ?</b></h1> </br>
<p>
W dzisiejszych czasach w internecie jest mnóstwo rozwiązań które mają na celu pomoc w nauce matematyki. Jednak zdecydowana wiekszość tych aplikacji posiada ograniczenia w użytkowaniu.
Wiąże się to z tym że używamy aplikacji na okres próbny często trwający kilka, kilkanaście dni, albo dostajemy ograniczoną wersję aplikacji, w której nie mamy dostepu do pełnej wersji,
którą trzeba wykupić. W mojej aplikacji stawiam na darmowe oraz wyczerpujące treściowo rozwiązanie do nauki, gdzie kiedy student już zobędzie wymaganą wiedzę będzie mógł ją
przetestować poprzez Quizy czy różnorakie zadania.

</p>

<h1><b>Skąd zainteresowanie tematem ?</b></h1> </br>
<p><ul style="
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
">
    <li>Z uwagi na trudności związane z tą dziedziną matematyki, czynią ją statystycznie najczęściej  uważanym przedmiotem uchodzącym za najtrudniejszy obok analizy matematycznej i matematyki dyskretnej na studiach inżynierskich.</li>
    <li>Motywacja do zrobienia aplikacji, która będzie miała na celu pomoc w nauce, a także będzie doskonałą formą powtórki do sprawdzianów/egzaminów.</li>
</ul></p>


{% endblock %}