{% extends 'base.html' %}
{% block title %}Różniczkowanie numeryczne{% endblock %}
{% load static %}
{% block content %}

<h3><b>Różniczkowanie numeryczne</b></h3><br>
<p>

    Załóżmy, że funkcja f(x) zadana jest w przedziale x należy [a,b]. Wtedy znalezienie pochodnej funkcji
    w punkcie x0 przy założeniu, że znana jest tylko skończona liczba wartości tej funkcji, sprowadza się
    zwykle do następującego postępowania. Wykorzystując znane wartości funkcji f, konstruuje się funkcję
    interpolującą. Następnie jako wartość przyblizoną f'(x0) przyjmuje się f~'(x0). Najlepiej w tym przypadku
    skorzystać ze wzoru interpolacyjnego Lagrange'a.
    <br>
    Niech będą dane zbiory węzłów:
    <br>
    {x0,x1,...,xn}
    <br>
    i wartośći funkcji:
    <br><br>
    <img src="{%  static "img/rozniczka/1.PNG" %}">
    <br><br>
    wtedy wielomian interpolacyjny Lagrange'a Ln(x) z równooddalonymi węzłami przyjmie postać:
    <br><br>
    <img src="{%  static "img/rozniczka/2.PNG" %}">
    <br><br>
    Niech:<br>
    Xk = X0 + k * h, h > 0, k= 0,1,...,n
    <br>
    i zapiszemy wzorem:
    <br><br>
    <img src="{%  static "img/rozniczka/3.PNG" %}" height="120">
    <br><br>
    Oznaczając
    <br><br>
    <img src="{%  static "img/rozniczka/4.PNG" %}" height="70">
    <br><br>
    otrzymujemy
    <br><br>
    <img src="{%  static "img/rozniczka/5.PNG" %}" width="500">
    <br><br>
    Wtedy dla funkcji f(x) w dowolnym punkcie x należy [a,b] można zapisać f(x) ~~ Ln(x).
    Różniczkując obie strony otrzymujemy wzór na różniczkowanie numeryczne z węzłami równooddalonymi:
    <br><br>
    <img src="{%  static "img/rozniczka/6.PNG" %}" width="500">
    <br><br>
    Jeżeli n jest parzyste, n = 2s i m = s, wtedy:
    <br><br>
    <img src="{%  static "img/rozniczka/7.PNG" %}" width="500" height="90">
    <br><br>
    i wzór przyjmuje prostszą postać:
    <br><br>
    <img src="{%  static "img/rozniczka/8.PNG" %}" width="500" height="90">
    <br><br>
    Zapiszemy wzór dla róznych wartości m i n: <br>
    <br>
    <b>1. Niech m = 1 , n = 2:</b><br><br>
    <img src="{%  static "img/rozniczka/9.PNG" %}" width="550" height="190">
    <br><br>
    Dowód dla opisanych wyżej wzorów jest następujący: <br>
    Niech: <br><br>
    <img src="{%  static "img/rozniczka/10.PNG" %}" width="500" height="90">
    <br><br>
    gdzie:
    <br><br>
    <img src="{%  static "img/rozniczka/11.PNG" %}" width="500" height="90">
    <br><br>
    Wtedy pierwsze pochodne p20(x), p21(x), p22(x) w punkcie x = x0 mają postać:
    <br><br>
    <img src="{%  static "img/rozniczka/12.PNG" %}" width="500" height="180">
    <br><br>
    <b>2. Niech m = 2 , n = 2:</b><br><br>
    <img src="{%  static "img/rozniczka/13.PNG" %}" width="500" height="140">
    <br><br>
    <b>3. Niech m = 1 , n = 3:</b><br><br>
    <img src="{%  static "img/rozniczka/14.PNG" %}" width="500" height="140">
    <br><br>
    <b>4. Niech m = 2 , n = 3:</b><br><br>
    <img src="{%  static "img/rozniczka/15.PNG" %}" width="500" height="90"><br><br>
    <img src="{%  static "img/rozniczka/16.PNG" %}" width="500" height="130">
</p>
<a href="#" class="scrollToTop">Do góry</a>


{% endblock %}