{% extends 'base.html' %}
{% block title %}Różniczkowanie numeryczne{% endblock %}
{% load static %}
{% block content %}

<h3><b>Różniczkowanie numeryczne</b></h3><br>
<p>

    Załóżmy, że funkcja f(x) zadana jest w przedziale x należy [a,b]. Wtedy znalezienie pochodnej funkcji
    w punkcie x0 przy założeniu, że znana jest tylko skończona liczba wartości tej funkcji, sprowadza się
    zwykle do następującego postępowania. Wykorzystując znane wartości funkcji f, konstruuje się funkcję
    interpolującą. Następnie jako wartość przyblizoną f'(x0) przyjmuje się f~'(x0). Najlepiej w tym przypadku
    skorzystać ze wzoru interpolacyjnego Lagrange'a.
    <br>
</p>
<p>
    Różniczkowaniem numerycznym nazywamy wyznaczanie przybliżonych wartości pochodnych
    funkcji dyskretnej jednej lub wielu zmiennych w zadanych punktach obszaru. Operację taką można
    wykonać dwuetapowo:<br>
    • wyprowadzając stosowne wzory różnicowe pozwalające na wyrażenie pożądanej pochodnej
    w określonym punkcie obszaru jako kombinacji liniowej wartości funkcji w punktach są-
    siednich – węzłach (tzw. schematy różnicowe),<br>
    • stosując wyznaczone wzory różnicowe do obliczania pochodnych w wybranych punktach
    obszaru.<br><br>
    Postępowanie takie jest wyjątkowo skuteczne i efektywne w przypadku, gdy węzły są rozmieszczo-
    ne równomiernie, gdyż wówczas wystarczy jednokrotne wyprowadzenie schematu różnicowego na
    każdą niezbędną pochodną.
    Metody generacji wzorów różnicowych możemy podzielić na trzy kategorie:<br>
    • przez interpolację,<br>
    • nieoznaczonych współczynników,<br>
    • ścisłe dla wielomianów możliwie najwyższego stopnia,<br>
    ponadto, w przypadku generowania wzorów różnicowych na pochodne rzędu wyższego niż pierw-
    szy możemy zastosować metodę składania operatorów, pamiętając że druga pochodna to pierwsza
    pochodna z pierwszej pochodnej, z kolei trzecia pochodna to druga pochodna z pierwszej pochod-
    nej, lub pierwsza pochodna z drugiej pochodnej, itd.<br><br>
    <img src="{%  static "img/rozniczka/17.PNG" %}">
</p>
<a href="#" class="scrollToTop">Do góry</a>


{% endblock %}