{% extends 'base.html' %}
{% block title %}Aproksymacja{% endblock %}
{% load static %}
{% block content %}
<h3><b>Aproksymacja funkcji</b></h3><br>

<p>
    Istnieją dwa podstawowe sposoby aproksymowania danych tablicowanych funkcją zapisaną analitycznie.
    Pierwszy z tych sposobów to interpolacja, gdy wymagane jest, aby krzywa funkcji aproksymującej
    przechodziła przez wszystkie punkty zawarte w tablicy. Jest to możliwe przy wykonaniu metod interpolacji funkcji
    . Przy drugim sposobie dane aproksymowane są funkcją określoną w całym zakresie stablizowania danych
    , niekoniecznie przechodzącą przez wszystkie punkty. Taki sposób nazywa się aproksymacją. Krzywa
    tak otrzymana powinna przebiegać tak, aby jej odchylenia od tablicowanych danych były minimalne.
</p>
<br>
<p class="underline"><b>Metoda najmniejszych kwadratów</b></p>
<p>
    Niech w tablicy danych jest n+1 punktów (x0, y0),(x1, y1),...,(xn, yn) i należy znaleźć krzywą aproksymującą
    g(x) w zakresie x0 ≤ x ≤ xn. W tym przypadku błąd w każdym punkcie można określić jako:
<br><br>
    <img src="{%  static "img/aproksymacja/1.png" %}"> ; i = 0,1,...,n
<br><br>
    Wówczas na podstawie powyższego suma kwadratów błędów będzie określoną wzorem:
<br><br>
    <img src="{%  static "img/aproksymacja/2.png" %}">
<br><br>
    Z reguły funkcję g(x) można przedstawić w postaci liniowej kombinacji funkcji <img src="{%  static "img/aproksymacja/3.png" %}">
<br>
    g(x) = C1G1(x) + C2G2(x) + ... + CkGk(x),
<br><br>
    gdzie,
<br>
    {c1,...,ck} - niewiadomy wspólczynnik.
<br><br>
    Warunek konieczny istnienia minimum E: <img src="{%  static "img/aproksymacja/4.png" %}"> E(c1,...,ck),
    wyraża się układem równań:
<br><br>
    <img src="{%  static "img/aproksymacja/5.png" %}">
<br><br>
    W związku ze wzorami kryterium E można przedstawić w postaci:
<br><br>
    <img src="{%  static "img/aproksymacja/6.png" %}">,
<br><br>
    wtedy warunek jest równy układowi równań:
<br><br>
    <img src="{%  static "img/aproksymacja/7.png" %}">
<br>
    ...................................................................................................................................................................
<br>
    <img src="{%  static "img/aproksymacja/8.png" %}">
<br><br>
</p>
<p class="underline"><b>Wielomiany ortogonalne</b></p>
<p>
    Jeżeli przy budowie funkcji aproksymującej o właściwości funkcji gi(x), ( l=0,1,...,n ) wykorzystuje
    się wielomiany ortogonalne, dla których spełniono równość: przy ( j ≠ k )
<br><br>
    <img src="{%  static "img/aproksymacja/9.png" %}">
<br><br>
    wtedy macierz jest diagonalna, a wzór określający wspólczynniki Cj przyjmuje postać:
<br><br>
    <img src="{%  static "img/aproksymacja/10.png" %}"> j = 0,1,...,k
<br><br>
    Wielomiany ortogonalne ułatwiają więc bardzo zadanie i są zatem często wykorzystywane przy aproksymacji
    funkcji.
</p>
<a href="#" class="scrollToTop">Do góry</a>
{% endblock %}