{% extends 'base.html' %}
{% block title %}Quiz{% endblock %}
{% load static %}
{% block content %}
<html lang="pl">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="container">
  <h2 class="quizHeader">Moduł Quizu</h2>

        <div>
	  		<p class="question">1. Równanie x1 = a – (F(a)/F(b)-F(a))*(b-a) jest podstawą do rozwiązywania równań nieliniowych
                                    metodą</p><br>

	    	<ul>
	        <input class="answer" type="radio" name="q1" value="0">
	        <label>bisekcji</label>
	        <br>
	        <input class="answer" type="radio" name="q1" value="1">
	        <label id="correctString1">siecznych</label>
	        <br>
	        <input class="answer" type="radio" name="q1" value="0">
	        <label>stycznych (Newtona)</label>
	        <br>
	        <input class="answer" type="radio" name="q1" value="0">
	        <label>Rungego – Kutty rzędu IV</label>
    		</ul>
	  	</div>
        <div>
	  		<p class="question">2. Które ze zdań jest nieprawdziwe</p><br>

	    	<ul>
	        <input class="answer" type="radio" name="q2" value="0">
	        <label>W każdym przypadku obliczeń numerycznych mamy do czynienia ze skończonymi zbiorami wartości</label>
	        <br>
	        <input class="answer" type="radio" name="q2" value="1">
	        <label id="correctString2">Obliczenia stałopozycyjne podlegają takim samym błędom jak zmiennopozycyjne</label>
	        <br>
	        <input class="answer" type="radio" name="q2" value="0">
	        <label>Liczba binarna (o określonej liczbie bitów) nie umożliwia zapisu dowolnej wartości numerycznej</label>
	        <br>
	        <input class="answer" type="radio" name="q2" value="0">
	        <label>Liczby z zakresu stałopozycyjnych zawsze są zbiorami skończonymi i przeliczalnymi</label>
    		</ul>
	  	</div>
        <div>
	  		<p class="question">3. Maksymalny rząd kwadratury interpolacyjnej wynosi</p><br>

	    	<ul>
	        <input class="answer" type="radio" name="q3" value="0">
	        <label>2n</label>
	        <br>
	        <input class="answer" type="radio" name="q3" value="1">
	        <label id="correctString3">2(n+1)</label>
	        <br>
	        <input class="answer" type="radio" name="q3" value="0">
	        <label>n + 1</label>
	        <br>
	        <input class="answer" type="radio" name="q3" value="0">
	        <label>n + 2</label>
    		</ul>
	  	</div>
        <div>
	  		<p class="question">4. Mietoda siecznych jest</p><br>

	    	<ul>
	        <input class="answer" type="radio" name="q4" value="0">
	        <label>Metodą niestacjonarną jednopunktową</label>
	        <br>
	        <input class="answer" type="radio" name="q4" value="1">
	        <label id="correctString4">Metodą stacjonarną dwupunktową</label>
	        <br>
	        <input class="answer" type="radio" name="q4" value="0">
	        <label>Metodą niestacjonarną dwupunktową</label>
	        <br>
	        <input class="answer" type="radio" name="q4" value="0">
	        <label>Metodą stacjonarną jednopunktową</label>
    		</ul>
	  	</div>
        <div>
	  		<p class="question">5. Bisekcja jest:</p><br>

	    	<ul>
	        <input class="answer" type="radio" name="q5" value="0">
	        <label>Metodą stacjonarną zbieżną lokalnie</label>
	        <br>
	        <input class="answer" type="radio" name="q5" value="1">
	        <label id="correctString5">Metodą niestacjonarną zbieżną globalnie</label>
	        <br>
	        <input class="answer" type="radio" name="q5" value="0">
	        <label>Metodą stacjonarną zbieżną globalnie</label>
	        <br>
	        <input class="answer" type="radio" name="q5" value="0">
	        <label>Metodą niestacjonarną zbieżną lokalnie</label>
    		</ul>
	  	</div>
        <div>
	  		<p class="question">6. Koszt wyliczenia wielomianu interpolacyjnego Newtona jest rzędu</p><br>

	    	<ul>
	        <input class="answer" type="radio" name="q6" value="0">
	        <label>n log n</label>
	        <br>
	        <input class="answer" type="radio" name="q6" value="1">
	        <label id="correctString6">n^2</label>
	        <br>
	        <input class="answer" type="radio" name="q6" value="0">
	        <label>n^3</label>
	        <br>
	        <input class="answer" type="radio" name="q6" value="0">
	        <label>n</label>
    		</ul>
	  	</div>
	  	<div>
	  		<p class="question">7. Zaznacz prawidłowye wzór interpolacyjny Newtona:</p><br>

	    	<ul>
	    	<input class="answer" type="radio" name="q7" value="1">
	        <label id="correctString7">
                <img src="{%  static "img/interpolacja/6.PNG" %}">
                <img src="{%  static "img/interpolacja/7.PNG" %}">
            </label>
	    	<br>
	        <input class="answer" type="radio" name="q7" value="0">
	        <label>
                <img src="{%  static "img/interpolacja/2.PNG" %}">
                <img src="{%  static "img/interpolacja/3.PNG" %}">
                <img src="{%  static "img/interpolacja/4.PNG" %}">
            </label>
	        <br>
	        <input class="answer" type="radio" name="q7" value="0">
	        <label>
                <img src="{%  static "img/calkowanie/17.PNG" %}">
            </label>
	        <br>
	        <input class="answer" type="radio" name="q7" value="0">
	        <label>
                <img src="{%  static "img/calkowanie/10.PNG" %}">
            </label>
    		</ul>
	  	</div>
	  	<div>
	  		<p class="question">8. Które metody uważane są jako dokładne?</p><br>

	    	<ul>
	        <input class="answer" type="radio" name="q8" value="0">
	        <label>Metoda bisekcji, Metoda siecznych</label>
	        <br>
	        <input class="answer" type="radio" name="q8" value="1">
	        <label id="correctString8">Metoda eliminacji Gaussa, Metoda Cramera</label>
	        <br>
	        <input class="answer" type="radio" name="q8" value="0">
	        <label>Metoda cięciw, Metoda stycznych (Newtona)</label>
	        <br>
	        <input class="answer" type="radio" name="q8" value="0">
	        <label>Metoda najmniejszych kwadratów</label>
	    	</ul>
	  	</div>
	  	<div>
	  		<p class="question">9. Które równanie może być przedstawione jako równanie algebraiczne?</p><br>

	    	<ul>
	        <input class="answer" type="radio" name="q9" value="0">
	        <label>n^3 = 4</label>
	        <br>
	        <input class="answer" type="radio" name="q9" value="1">
	        <label id="correctString9">F(x) = f(x)</label>
	        <br>
	        <input class="answer" type="radio" name="q9" value="0">
	        <label>f(x) = { x1,x2, ..., xn }</label>
	        <br>
	        <input class="answer" type="radio" name="q9" value="0">
	        <label>x1 = b+a / 2</label>
	    	</ul>
		</div>

	  	<div>
	  		<p class="question">10. Poprawnym zaokrągleniem do 3 cyfr dokładnych liczby 4,335 jest</p><br>

	    	<ul>
	        <input class="answer" type="radio" name="q10" value="0">
	        <label>4.33</label>
	        <br>
	        <input class="answer" type="radio" name="q10" value="1">
	        <label id="correctString10">4.34</label>
	        <br>
	        <input class="answer" type="radio" name="q10" value="0">
	        <label>4.35</label>
	        <br>
	        <input class="answer" type="radio" name="q10" value="0">
	        <label>4.3335</label>
    		</ul>
	  	</div>

<br/>
  <div>
          <input class="quizSubmit" id="submitButton" onClick="submitQuiz()" type="submit" value="Potwierdź odpowiedzi" />
          <input class="refresher" type="button" value="Spróbuj ponownie" onClick="location.reload();" />
    </div><br>

<!--show only wrong answers on submit-->
    <div class="quizAnswers" id="correctAnswer1"></div>
    <div class="quizAnswers" id="correctAnswer2"></div>
    <div class="quizAnswers" id="correctAnswer3"></div>
    <div class="quizAnswers" id="correctAnswer4"></div>
    <div class="quizAnswers" id="correctAnswer5"></div>
    <div class="quizAnswers" id="correctAnswer6"></div>
    <div class="quizAnswers" id="correctAnswer7"></div>
    <div class="quizAnswers" id="correctAnswer8"></div>
    <div class="quizAnswers" id="correctAnswer9"></div>
    <div class="quizAnswers" id="correctAnswer10"></div><br>

<!--show score upon submit-->
    <div>
        <h2 class="quizScore" id="userScore"></h2>
    </div>
    <br>

</div>
</body>
</html>

{% endblock %}
